<div class="smart-table-wrapper">
  <table mat-table [dataSource]="source" class="smart-table">
    <ng-container *ngIf="(settings?.actions?.position ?? 'right') === 'left' && (settings?.actions?.custom?.length ?? 0) > 0" matColumnDef="__actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngFor="let action of settings?.actions?.custom">
          <button
            mat-icon-button
            [color]="action.color || undefined"
            [matTooltip]="action.name"
            type="button"
            (click)="onAction(action.name, row)"
          >
            <ng-container [ngTemplateOutlet]="action.icon === 'delete' ? deleteIcon : editIcon"></ng-container>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of columnsEntries" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef>{{ column.config.title | transloco }}</th>
      <td mat-cell *matCellDef="let row">
        {{ renderCell(column.config, row[column.key], row) }}
      </td>
    </ng-container>

    <ng-container *ngIf="(settings?.actions?.position ?? 'right') !== 'left' && (settings?.actions?.custom?.length ?? 0) > 0" matColumnDef="__actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngFor="let action of settings?.actions?.custom">
          <button
            mat-icon-button
            [color]="action.color || undefined"
            [matTooltip]="action.name"
            type="button"
            (click)="onAction(action.name, row)"
          >
            <ng-container [ngTemplateOutlet]="action.icon === 'delete' ? deleteIcon : editIcon"></ng-container>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="no-data" *ngIf="!source?.length">
    {{ settings.noDataMessage ? (settings.noDataMessage | transloco) : ('common.noData' | transloco) }}
  </div>
</div>

<ng-template #editIcon>
  <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a1.003 1.003 0 0 0 0-1.42l-2.34-2.34a1.003 1.003 0 0 0-1.42 0l-1.83 1.83 3.75 3.75 1.84-1.82z"/>
  </svg>
</ng-template>

<ng-template #deleteIcon>
  <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
  </svg>
</ng-template>
